body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

main {
  padding: 0 75px 0 350px;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

main > section {
  margin: 80px auto 100px auto;
  width: 75%;
}

img, video {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

/* ---------------------------------

               nav

------------------------------------ */
#hamburger-menu { 
  width: 50px;
  position: fixed;
  top: 23px;
  right: 35px;
  display: block; 
  margin-bottom: 10px; 
  cursor: pointer; 
  z-index: 4;
  opacity: 1;
  border-radius: 20%;
}

#hamburger-menu:hover {
  opacity: 0;
}

#hamburger-menu-hover { 
  width: 50px;
  position: fixed;
  top: 23px;
  right: 35px;
  display: block; 
  margin-bottom: 10px; 
  cursor: pointer; 
  z-index: 4;
  opacity: 0;
  border-radius: 20%;
}

#hamburger-menu-hover:hover {
  opacity: 1;
}

#github-logo {
  cursor: pointer;
  width: 50px;
  position: fixed;
  top: 75px;
  right: 35px;
  opacity: 1;
}

#github-logo:hover {
  opacity: 0;
}

#github-logo-hover {
  cursor: pointer;
  width: 50px;
  position: fixed;
  top: 75px;
  right: 35px;
  opacity: 0;
}

#github-logo-hover:hover {
  opacity: 1;
}

nav#site-navigation {
  display: none;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  z-index: 2;
}

nav#site-navigation ul {
  display: inline-block;
  font-size: 1.5rem;
}

nav#site-navigation ul li {
  margin: 25px 20px 25px 40px;
  float: left;
}

nav#site-navigation p {
  font-size: 1.2rem;
}

nav#site-navigation a {
  text-decoration: none;
  white-space: nowrap;
  color: #284389;
}

#home-link:hover {
  color: #EBDA46;
  text-decoration: underline;
}

#case-study-link:hover {
  color: #7EE5F7;
  text-decoration: underline;
}

#our-team-link:hover {
  color: #D94E86;
  text-decoration: underline;
}

#toTop-logo {
  display: none;
  cursor: pointer;
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 35px;
}

#toTop-logo:hover {
  transform: scale(1.25);
}
/* ---------------------------------

               header

------------------------------------ */

header {
  height: 600px;
  background: #284389;
}

header h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding: 20px 20px;
}

header p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 200;
  /* letter-spacing: 0.1rem; */
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  width: 750px;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-bottom: 20px;
}

header h1 img {
  display: block;
  width: 60%;
  max-width: 500px;
  max-height: 50%;
  margin: 0 auto;
}

/* ---------------------------------

                demo

------------------------------------ */

#demo {
  /* padding-top: 50px; */
  padding-bottom: 100px;
  background-color: #284389;
}

/* ---------------------------------

            case study

------------------------------------ */
#side-nav {
  display: none;
  left: 4rem;
  position: fixed;
  top: 5%;
  height: 25%;
}

#side-nav img {
  max-width: 150px;
  margin: 0 auto;
}

#case-study nav {
  display: none;
  left: 2rem;
  position: fixed;
  top: 35%;
  max-width: 300px;
  height: 60%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#case-study nav::-webkit-scrollbar {
  display: none;
}

#case-study nav li {
  color: #999;
  font-size: 1.3rem;
  list-style: circle;
  margin-bottom: 1.5vh;
  padding-left: 1rem;
}

#case-study nav li[data-tag-type="H3"] {
  display: none;
}

#case-study nav li[data-tag-type="H3"].active-child {
  display: block;
}

#case-study nav li:last-of-type {
  margin-bottom: 0;
}

#case-study nav a {
  color: #282828;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  vertical-align: 0.1rem;
}

#case-study nav li[data-tag-type="H3"] a {
  font-weight: 200;
}

#case-study nav a:hover {
  color: #7EE5F7;
}

#case-study h2:first-of-type {
  margin-top: 50px;
}

#case-study p,
#case-study ul {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

#case-study ul ul {
  margin-bottom: 0px;
}

#case-study h2 {
  /* font-family: ; */
  font-weight: 500;
  margin: 75px auto 20px auto;
}

#case-study h2:first-of-type {
  margin-top: 50px;
}

#case-study h3,
#case-study h4,
#case-study h5 {
  /* color: var(--color-gander-black); */
  /* font-family: var(--font-family-header); */
  margin-top: 75px;
}

#case-study p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#case-study li {
  font-size: 1.2rem;
  line-height: 1.8rem;
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* ---------------------------------

            our team

------------------------------------ */

#our-team {
  background-color: #284389;
  color: #ffffff;
  margin-top: 100px;
  padding-bottom: 25px;
}

#our-team h1 {
  padding-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 4rem;
}

#our-team > p {
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 30px;
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

#our-team > ul {
  padding: 60px 0 80px;
  text-align: center;
}

#our-team li {
  display: inline-block;
  margin: 0 3%;
  width: 15%;
  vertical-align: top;
}

#our-team .social-icons li {
  display: inline-block;
  margin: 0 3%;
  width: 15%;
  vertical-align: top;
}

#our-team h3 {
  margin-bottom: 10px;
}

#our-team a {
  color: #282828;
  text-decoration: none;
}

#our-team a img {
  cursor: pointer;
}

#our-team li > img {
  border-radius: 100%;
  margin: 0 auto 20px;
  width: 15vw;
  max-width: 250px;
}



#our-team .individual ul {
  margin: 0;
}

#our-team .individual li img {
  padding: 2px;
  margin-top: 10px;
  width: 45px;
}

#our-team .individual li img:hover {
  filter: invert(20%);
}

#our-team .individual li {
  margin: 10px 10px 0 10px;
}

#our-team .individual p {
  font-size: 1rem;
}

/* ---------------------------------

            mobile (width)

------------------------------------ */

@media (max-width: 1100px) {
  #case-study nav {
    display: none;
  }

  /* #case-study img.w30 {
    max-width: 50vw;
  } */

  nav#case-study-mobile ul {
    margin: 0;
  }

  nav#site-navigation #case-study-mobile li {
    margin-left: 0;
  }

  nav#site-navigation #case-study-mobile li:last-child {
    margin-bottom: 0;
  }

  main {
    padding: 0 75px;
  }

  /* section#integration {
    flex-direction: column;
    align-items: center;
  }

  #integration article {
    width: 100vw;
    text-align: center;
    padding-bottom: 100px;
  }
  */

  div.box {
    width: 100vw;
    padding: 0 10px 100px 10px;
  }

  section#case-study {
    margin: 70px auto;
  }

  #case-study h2:first-of-type {
    margin-top: 20px;
  }

  /* #flowchart {
    max-width: 100%;
    height: auto;
  } */

  #our-team h1 {
    padding-top: 70px;
  }

  /* Site Nav */

  nav#site-navigation {
    height: 100vh;
    overflow: scroll;
  }

  nav#site-navigation > ul {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  nav#site-navigation ul li {
    display: block;
    float: none;
    margin: 15px 20px 15px 40px;
  }
}

@media (max-width: 1030px) {
  header h1 img {
    width: 300px;
  }

  #home p {
    box-sizing: border-box;
    width: 100%;
    margin-top: 200px;
    padding: 0 90px;
  }
}

@media (max-width: 975px) {
  nav#site-navigation p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 90px;
  }

  /* section */

  /* .box {
    width: 100%;
    padding: 1rem 0;
  }

  .integration {
    flex-direction: column;
  }

  .integration a.button {
    display: inline-block;
    margin: 1rem auto;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
  }

  .integration img {
    max-width: 360px;
  }

  .text-box h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  } */

  /* .text-box p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
  } */

  #our-team > p {
    width: 60%;
  }

  #our-team .individual li {
    margin: 10px 7px 0;
  }

  #our-team .individual li img {
    width: 30px;
  }
}

@media (min-width: 1100px) {
  nav#case-study-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  /* General */
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  /* Logos */

  .hamburger-menu {
    width: 40px;
    top: 18px;
    right: 40px;
  }

  /* #github-logo {
    cursor: pointer;
    width: 28px;
    position: fixed;
    bottom: 75px;
    right: 27px;
  }

  #toTop-logo {
    width: 28px;
    right: 27px;
  }

  #medium-logo {
    cursor: pointer;
    width: 28px;
    position: fixed;
    bottom: 30px;
    right: 27px;
  } */

  /* Main */

  header h1 {
    font-size: 2.5rem;
    padding: 18px 21px;
    line-height: 3.5rem;
  }

  #home p {
    font-size: 3rem;
    margin-top: 200px;
    padding: 0 45px;
  }

  section#case-study {
    width: 100%;
  }

  #case-study p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* #case-study blockquote p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  } */

  /* code,
  .command {
    font-size: 0.9rem;
  } */

  /* pre code {
    font-size: 1.5vw;
  } */

  #footnotes {
    word-wrap: break-word;
  }

  /* Our Team */

  #our-team > p {
    width: 70%;
  }

  #our-team .individual li {
    margin: 10px 5px 0;
  }

  #our-team .individual li img {
    width: 25px;
  }
}

@media (max-width: 600px) {
  /* General */

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }

  /* section */

  /* .integration {
    flex-direction: column;
  }

  .text-box h1 {
    font-size: 2.7rem;
  }

  .text-box p {
    font-size: 1.5rem;
  } */

  /* Main */

  #home p {
    padding: 0 30px;
  }

  section#case-study {
    margin: 40px auto;
  }

  /* Our Team */

  #our-team h1 {
    padding-top: 60px;
  }

  #our-team > p {
    font-size: 1rem;
    margin-top: 0;
  }

  #our-team > ul {
    margin-top: 0;
    padding: 0;
  }

  #our-team li {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  #our-team .individual {
    padding: 50px 0;
    border-bottom: 1px solid #fff;
  }

  #our-team .individual:last-of-type {
    border-bottom: 0px;
  }

  #our-team .individual ul {
    width: 70%;
    margin: 0 auto;
  }

  #our-team .individual li {
    margin: 10px 5px;
  }

  #our-team .individual li img {
    width: 25px;
    padding: 3px;
  }

  #our-team li > img {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  header h1 img {
    max-width: 80%;
  }

  #home p {
    /* margin-top: 150px; */
    font-size: 2rem;
  }

  #case-study img {
    max-width: 60vw;
  }

  #our-team .individual ul {
    width: 90%;
    margin: 0 auto;
  }

  #our-team .individual li {
    margin: 10px 7px;
  }

  #our-team .individual li img {
    width: 30px;
    padding: 2px;
  }

  #our-team li > img {
    width: 35vw;
  }

  nav#site-navigation ul {
    font-size: 1.2rem;
  }

  nav#site-navigation ul li {
    margin: 10px 0 10px 40px;
  }
}

@media (max-width: 400px) {
  .hamburger-menu {
    width: 33px;
    right: 40px;
  }

  /* #github-logo {
    right: 20px;
    width: 23px;
  }

  #toTop-logo {
    bottom: 20px;
    width: 23px;
    right: 20px;
  }

  #medium-logo {
    bottom: 20px;
    right: 20px;
    width: 23px;
  } */

  /* section */

  #home p {
    margin-top: 200px;
  }

  /* .text-box p {
    font-size: 1.7rem;
  }

  .text-box h1 {
    font-size: 2.5rem;
  } */

  main {
    padding: 0 70px 0 25px;
  }

  h1 {
    font-size: 2.5rem;
  }

  nav#site-navigation ul {
    font-size: 1.1rem;
  }

  nav#site-navigation > ul {
    margin-top: 20px;
    padding-bottom: 25px;
  }

  nav#site-navigation ul li {
    margin-bottom: 3.5vh;
  }

  nav#case-study-mobile {
    margin-top: 1.75vh;
  }

  #case-study img {
    max-width: 65vw;
  }

  #our-team {
    padding-bottom: 18px;
  }

  #our-team > p {
    width: 57%;
  }
}

/* ---------------------------------

            mobile (height)

------------------------------------ */

@media (max-height: 750px) {
  header {
    min-height: 750px;
  }

  header h1 img {
    padding: 40px 0;
  }

  #home p {
    font-size: 2.5rem;
    /* margin-top: 150px; */
  }
}

@media (max-height: 650px) {
  #home p {
    font-size: 2.5rem;
  }
}

@media (max-height: 550px) {
  header {
    display: flex;
    align-items: center;
    min-height: 650px;
  }

  header h1 {
    margin: 0 auto;
  }

  header h1 img {
    margin-top: -250px;
    padding: 0;
  }

  #home p {
    font-size: 2rem;
    /* margin-top: 175px; */
  }
}
